@keyframes drawer {
    from {
        transform: translateX(-100%);
    }
    
    to {
        transform: none;
    }
}

:target::before {
    content: '';
    display: block;
    height: 4rem;
    margin-top: -4rem;
}